project_id         = "your-gcp-project-id"
region             = "us-central1"
zone               = "us-central1-a"
vm_name            = "odoo18-vm-test"
db_instance_name   = "odoo18-db-test"
db_name            = "odoo18-test"
db_user_name       = "odoo18"
db_password        = "replace-with-secure-secret"
secret_name        = "odoo18-db-password"
firewall_rule_name = "allow-odoo-http-test"
replica_location   = "us-central1"
github_connection  = "AvinashGitConnection"
github_owner       = "avinash2196"
github_repo        = "OddoDemo"